{% extends 'main/layout.html' %}

{% block content %}
    {% if data %}
        <div class="wather-box">
            <h1>{{data.Jcity}}</h1>
            <div class="wather">
                <div class="info">
                    <i class="bi bi-thermometer-half"></i>
                    <div class="info-n">{{data.Jtemp}}</div>
                </div>
                <div class="info">
                    <i class="bi bi-sun"></i> 
                    <div class="info-n">{{data.Jfeels_like}}</div>
                 </div>
                <div class="info">
                    <i class="bi bi-wind"></i>
                    <div class="info-n wind">{{data.Jwind_speed}}</div>
                </div>
            </div>
            
        </div>
    {% else %}
        <h1>No results</h1>
    {% endif %}
{% endblock %}